<div class="flex flex-col gap-4">
  <h1 class="text-4xl font-bold">Users</h1>
  <div class="flex">
    <a routerLink="add" class="rounded-md bg-emerald-600 px-4 py-2 text-white transition-all hover:bg-emerald-700"
      >Add user</a
    >
  </div>
  <app-search-user></app-search-user>
  <div>
    <table style="width: 100%">
      <thead>
        <tr>
          <th style="text-align: start">Index</th>
          <th style="text-align: start">First Name</th>
          <th style="text-align: start">Last Name</th>
          <th style="text-align: start">Username</th>
          <th style="width: 10%">Actions</th>
        </tr>
      </thead>
      <tbody class="">
        <tr
          *ngFor="let user of users; let idx = index; let even = even; let odd = odd"
          [ngClass]="{ even: even, odd: odd }"
        >
          <td>{{ idx + 1 }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.username }}</td>
          <td class="flex gap-2">
            <a
              [routerLink]="'edit' + '/' + user.id"
              class="rounded-md bg-blue-500 px-2 py-1 text-base text-white transition-all hover:bg-blue-600"
              >Edit</a
            >
            <button
              (click)="deleteUser(user.id)"
              class="rounded-md bg-rose-500 px-2 py-1 text-base text-white transition-all hover:bg-rose-600"
            >
              Delete
            </button>
          </td>
        </tr>
        <ng-container *ngIf="!users">
          <tr>
            <td colspan="5">
              <app-loading></app-loading>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="users.length === 0">
          <tr>
            <td colspan="5" class="text-center">No users.</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <ng-container *ngIf="users.length !== 0">
    <div class="float-right">
      <app-pagination></app-pagination>
    </div>
  </ng-container>
</div>
